@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body{
    font-family: roboto;
}

main{
    max-width: 320px;
    margin: auto;
}

#logo a img{
    width: 100px;
    height: 20px;
    margin-left: 110px;
}
.tronc{
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 320px;
    height: 900px;
    
}

.head{
    border: 1px solid black;
    background-color: rgba(248, 241, 241, 0.664);
    height: 280px;
    width: 320px;
}

h1{
    font-size: 22px;
}

h1 i{
    margin-left: 40px;
}
h3, h4{
    margin-left: 10px;
}
h1, h2, h3, h4{
    margin-left: 10px;
}
h5{
    font-size: 16px;
}

.headpageA{
    border: 1px solid black;
    background-color: rgb(218, 214, 214);
    width: 319px;
    height: 40px;
}

.headpageA i{
    margin-right: 10px;
}

.headpageB h1{
    border: none;
}

.headpageA, .headpageB{
    text-align: center;
}

.headpageC{
    text-align: center;
    text-decoration-color: none;
}

.logo a img{
    width: 100px;
    height: 20px;
}

.logo i{
    margin-right: 90px;
}

.btn-Acuil{
    border: 1px solid black;
    background-color: #9356DC;
    border-radius: 20px;
    width: 220px;
    height: 30px;
    font-size: 11px;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 15px;
}

.btn-Acuil h2{
    color: white;
}

.eta, .eta1{
    border: 1px solid black;
    width: 70px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: -35px;
    position: relative;
    float: right;
    background-color: aquamarine;
}

.table a img{
    border: 1px solid white;
    width: 320px;
    height: 200px;
}

.entreA , .entreB, .entreC{
    border: 1px solid black;
    display: flex;
    width: 290px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.platA, .platB, .platC{
    border: 1px solid black;
    display: flex;
    width: 290px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.dessertA, .dessertB, .dessertC{
    border: 1px solid black;
    display: flex;
    width: 290px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.platA, .platB, .platC{
    width: 290px;
}


.ENTREE p, .PLAT p, .DESSERT p{
    margin-top: 0px;
    margin-left: 10px;
}

.entreA {
    display: flex;
}

.A3, .B3, .C3{
   border: 1px solid black;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   padding: 12px 0px 0px 15px ;
   width: 40px;
   height: 37px;
}

/*
.A2, .B2, .C2{
    border: 1px solid black;
    width: 30px;
    height: 20px;
    margin-left: 55px;
    padding: 23px 0px 5px 5px;
}*/

.A1 p, .B1 P, .C1 p{
    font-size: 12px;
}

.A3r, .B3r, .C3r{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    
}

.plat-Acl{
    border: 1px solid black;
    width: 320px;

}

.plat-Acl img{
    border: 1px solid black;
    width: 299px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.btn-bas{
    border: 1px solid black;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.chr1, .chr2, .chr3{
    border: 1px solid black;
    border-radius: 19px;
    width: 290px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 15px;
}

.chr1 i, .chr2 i, .chr3 i{
    margin-right: 20px;
}

.ch{
    border: 1px solid black;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: -13px;
    float: left;
    background-color: #9356DC;
}

article img{
    width: 300px;
    height: 150px;
    border: 1px solid black;
}

.plat-aclA, .plat-aclB, .plat-aclC, .plat-aclD{
    border: 1px solid black;
    border-radius: 12px;
    width: 300px;
    height: 230px;
    margin-bottom: 20px;
    margin-left: 9px;
} 

.annonceA, .annonceB, .annonceC, .annonceD{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;
    padding: 10px;
}

.annonceA i, .annonceB i,.annonceC i, .annonceD i{
    margin-left: 110px;
}
.annonceA p, .annonceB p, .annonceC p, .annonceD p{
    margin-top: 0px;
}
footer{
    border: 1px solid black;
    width: 310px;
    height: 230px;
    padding-left: 10px;
    background-color: black;
}

footer p{
    color: white;
}
footer i{
    margin-right: 10px;
}
h5{
    color: white;
}
.conta a{
    color: white;
    text-decoration: none;
}

/* A la Francaise*/

.ENTREE, .PLAT, .DESSERT{
    margin-left: 14px;
}